<div class="container mt-4">

  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Puestos</h2>

    <button class="btn btn-success" (click)="createPuesto()">
      + Nuevo puesto
    </button>
  </div>

  @let puestos = puestos$ | async;

  @if (!puestos) {
  <div class="text-center">
    <div class="spinner-border"></div>
  </div>
  }

  @else {

  @if (puestos.length === 0) {
  <div class="alert alert-info">
    No hay puestos
  </div>
  }

  @else {

  <div class="list-group shadow-sm">

    @for (p of puestos; track p.id) {

    <div class="list-group-item d-flex justify-content-between align-items-center">

      <div (click)="seleccionarPuesto(p)" style="cursor:pointer">
        <strong>Puesto {{ p.name }}</strong>
        <div class="text-muted small">
          Dueño: {{ p.ownerName }}
        </div>
      </div>

      <div class="btn-group">

        <button class="btn btn-warning btn-sm me-1" (click)="editPuesto(p)">
          <i class="bi bi-pencil-square"></i>
        </button>

        <button class="btn btn-danger btn-sm" (click)="deletePuesto(p)">
          <i class="bi bi-trash"></i>
        </button>
      </div>

    </div>

    }

  </div>
  }
  }
</div>